:root{
    --Dark-cyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
    --Very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Cream);
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

.card{
    display: flex;
    background-color: var(--White);
    height: 60vh;
    max-width: 650px;
    border-radius: 20px;
}
.description {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 30px;
    max-width: 50%;
}
h1 {
    font-family: 'Fraunces', sans-serif;
}
p {
    font-weight: 300;
}
.product {
    font-size: 36px;
}
.image-container,
.description {
    flex: 1;
}
.image-container{
    background-image: url('image-product-desktop.jpg');
    background-size: cover;
    border-radius: 20px 0 0 20px;
}
.price {
    display: flex;
    align-items: center;
}
.new-price {
    padding-right: 10px;
    color: var(--Dark-cyan);
}
.old-price {
    color: var(--Dark-grayish-blue);
    font-weight: 500;
    font-size: 15px;
}
button{
    height: 45px;
    width: 100%;
    border: 0;
    background-color: var(--Dark-cyan);
    color: var(--White);
    border-radius: 5px;
}
button:hover {
    background-color: var(--Very-dark-blue);
}
svg {
    padding-right: 20px;
}
@media (max-width: 600px) {
    .image-container{
        background-image: url('image-product-mobile.jpg');
        background-size: cover;
        border-radius: 20px 20px 0 0;
        }
    .card{
        flex-direction: column;
        height: 95vh;
        margin: 20px;
    }
    .description{
        max-width: 100%;
    }
    .product {
        font-size: 42px;
        margin: 10px 0 10px 0
    }
    
    p {
        font-size: 19px;
        line-height: 1.7;
    }
    button {
        height: 50px;
        font-family: 'Fraunces', sans-serif;
    }
    .price {
        margin: 15px 0 15px 0;
    }
    .old-price{
        font-size: 15px;
        padding-left: 15px;
        font-weight: 500;
    }
}

    
